<footer class=" container mt-5 bg-dark text-light">
        <div class="row">
            <div class="col-md-4">
                <h3>About Us</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s.</p>
            </div>
            <div class="col-md-4">
                <h3>Contact Information</h3>
                <p>Email: info@careerportal.com</p>
                <p>Phone: +1 123-456-7890</p>
            </div>
            <div class="col-md-4">
                <a class="btn btn-primary" href="mailto:ghosalbiswajit1@gmail.com?subject=Query about <<Your Query>>">Connect with Us</a>
                <a href="#" target="_blank">Facebook</a>
                <a href="#" target="_blank">Twitter</a>
                <a href="#" target="_blank">LinkedIn</a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12 text-center">
                <p>&copy; 2024 Career Portal. All rights reserved.</p>
            </div>
        </div>
    </footer>